body {
  margin: 0;
}

#canvas {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.controls {
  position: absolute;
  top: 5px;
  right: 5px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2px 5px;
  justify-items: end;
  z-index: 10;
}

#player2time,
#player1time,
#speed2,
#speed1 {
  display: none;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Press Start 2P", system-ui;
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  pointer-events: none;
  z-index: 10;
  margin-top: 20px;
}

#player1time {
  top: 50%;
}

#speed2 {
  bottom: 50%;
  margin-top: 0px;
}

#speed1 {
  bottom: 0%;
  margin-top: 0px;
}

#menu {
  display: block;
  position: fixed;
  background-color: white;
  height: 100vh;
  width: 100vw;
  opacity: 0.5;
  backdrop-filter: blur(20px);
  z-index: 11;
}

#gameTitle {
  display: block;
  width: 100vw;
  position: fixed;
  text-align: center;
  font-family: "Press Start 2P", system-ui;
  font-size: 30px;
  color: white;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
  z-index: 12
}

#start,
#restart,
#continue {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 8vh;
  font-family: "Press Start 2P", system-ui;
  font-size: 18px;
  color: white;
  border-color: white;
  background-color: black;
  z-index: 12;
}

#continue, #restart {
  display: none;
}

#start:hover,
#restart:hover,
#continue:hover {
  color: gray;
  border-color: gray;
  transition: ease-in-out 0.1s;
}

#start, #continue {
  top: 40%;
}

#restart {
  top: 50%;
}

#player2laps, #player1laps {
  position: fixed;
  margin: 10px;
  z-index: 11;
  font-family: "Press Start 2P", system-ui;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  color: white;
  display: none;
}

#player1laps {
  top: 50%;
}