body {
  margin: 0;
}

#canvas {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.controls {
  position: absolute;
  top: 5px;
  right: 5px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2px 5px;
  justify-items: end;
  z-index: 10;
}

#player2time,
#player1time {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Press Start 2P", system-ui;
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  pointer-events: none;
  z-index: 10;
  margin-top: 20px;
}

#player1time {
  top: 50%;
}
